.menubar {
  background-color:rgb(54, 57, 65);
  height: 3rem;
}

.menubar-left {
  padding-left: 20px;
}

.menubar-right {
  padding-right: 20px;
}

gridster {
  background: none;
  margin-bottom: 20px;
  max-width: 1200px;
  margin: auto;
  max-height: 80% ;
}

gridster-item {
  padding: 5px;
  background-color: rgba(67, 73, 82, 0.95);
  margin-bottom: 20px;
  max-width: 1200px;
  margin: auto;
  max-height: 80%;
}

span {
  font-size: 1.5rem;
}