<div class="menubar" fxLayoutAlign="space-between center">
  <div class="menubar-left"><span>Menu</span></div>
  <div class="menubar-right"><span>logout</span></div>
</div>

<gridster [options]="options">
  <gridster-item [item]="item" *ngFor="let item of dashboard">
    <div class="item-container">
      <div class="item-mock">
        <span>item </span>
        c:{{item.cols}} r:{{item.rows}}
      </div>
    </div>
  </gridster-item>
    <gridster-item [item]="item" *ngFor="let item of dashboard">
    <div class="item-container">
      <div class="item-mock">
        <span>item </span>
        c:{{item.cols}} r:{{item.rows}}
      </div>
    </div>
  </gridster-item>
</gridster>



{{obj?.nb_alerts }}
{{obser | json}}
{{number}}